html {
    background: #360033; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #360033, #0b8793); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #360033, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    color: #FFF;
}

textarea {
    height: 200px;
    font-size: 4rem;
}

.encrypt-options {
    font-size: 3rem;
    height: 90px;
}

textarea, select {
    color: #000;
}

.button {
    color: #FFF;
}

.button:hover {
    color: #d3b8ff;
}

.no-decoration-link {
    text-decoration: none;
    color: #FFF;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 13.0rem;
}

.subtitle {
    text-align: center;
    font-style: italic;
    font-size: 5rem;
}

form {
    margin-top: 10%;
    text-align: center;
}

label {
    visibility: hidden;
}


#plain_text {
    display: block;
    width: 60%;
    margin: 2% 20%;
}

.cipher-text {
    text-align: center;
    -webkit-box-shadow: 2px 2px 1px 1px #ccc;
    box-shadow: 1px 0px 1px 1px #ccc;
    margin-left: 10%;
    width: 80%;
}

@media(min-width: 1024px){
    h1 {
        font-size: 4.0rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    label {
        visibility: visible;
    }
    textarea {
        font-size: 1.4rem;
        height: 100px;
    }
    .encrypt-options {
        font-size: 1rem;
        height: 38px;
    }
}