<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webcaesar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
    <h1> Webcaesar</h1>
    <div class="subtitle"> Yet another Caesar cipher</div>
    {% if error %}
        <div class="error"> {{ error }}</div>
    {% endif %}
    <form method="POST" action="{{ url_for('encrypt') }}">
        <label for="plain_text">Text to encrypt</label>
        <textarea id="plain_text" type="text" name="plain_text"></textarea>
        <select name="key">
            {% for i in range(1, 26) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <select name="algorithm">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
        </select>
        <button class="button" type="submit">Encrypt!</button>
    </form>
    {%  if cipher_text %}
        <h2 class="cipher-text">{{ cipher_text }}</h2>
    {% endif %}
</body>
</html>
